APP_NAME="BBIP Landing"
APP_ENV=local
APP_KEY=base64:5P0TF0fEv7yUqJUxD9J4E8K2R1L9M3N5O7P9Q2S4T6V8W0X2Y4Z6A8B0C2D4E6F8
APP_DEBUG=true
APP_URL=http://localhost

CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=bbip
DB_USERNAME=bbip
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_HOST=localhost
